*
{
  box-sizing: border-box;
  -webkit-transition: all .3s cubic-bezier(.25,.8,.25,1),
                      background .3s ease,
                      color .3s ease;
          transition: all .3s cubic-bezier(.25,.8,.25,1),
                      background .3s ease,
                      color .3s ease;

  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
{
  display: block;
}
body
{
  line-height: 1;
}
ol, ul
{
  list-style: none;
}
blockquote, q
{
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after
{
  content: '';
  content: none;
}
table
{
  border-collapse: collapse;
  border-spacing: 0;
}
hr
{
  border: 0;
  border-bottom: 1px solid;
  clear: both;
}
img
{
  vertical-align: middle;
}
menu a,
nav a
{
  cursor: pointer;
}
:focus
{
  outline: none;
}
script
{
  display:none !important;
}