<div class="chart-pie" data-cid="{{ cid }}">
  <canvas class="chart"></canvas>
  <canvas class="hoover"></canvas>

  <div class="dataset" data-value="dataset.{{ @key }}">{{{ jsonStringify dataset }}}</div>
</div>