<div class="chart-candle-and-line" data-cid="{{ cid }}">
  <canvas class="chart"></canvas>
  <canvas class="hoover"></canvas>

  {{# each dataset }}
    <div class="dataset" data-value="dataset.{{ @key }}">{{{ jsonStringify this }}}</div>
  {{/ each }}
</div>